@color_bkg_main: rgba(225, 241, 233, 1);
@color_bkg_second: rgba(255, 255, 255, 1);
@color_text_main: rgba(22, 22, 22, 1);
@color_text_second: rgba(120, 120, 120, 1);
@color_accent: rgba(255, 93, 0, 1);
@color_shadow: rgba(120, 120, 120, 0.03);
