
/*DEBUG*/
_div {  border: 1px dashed @color_text_main; }
/*END DEBUG*/


body {
  margin: 0;
  font-family: Nunito;
  color: @color_text_main;
}


/********************/

.page-container {
  
  display: flex;
  height: 100%;
}
.left-side {
  width: 70%;
  height: 100%;
  background: linear-gradient(160deg, @color_bkg_second, @color_bkg_main);
}
.right-side {
  width: 30%;
  height: 100%;
  background-color: @color_bkg_second;
}
.separator {
  cursor: ew-resize;
  width: 3px;
}
.separator:hover {
  background-color: @color_accent;
}


.main-header {
  display: flex;
  align-items: flex-end;
  height: 10%;
}
.main-chart {
  height: 65%;
}
.details-panel {
  height: 25%;
}
.details-panel_title {
  height: 20%;  
}
.widgets-group {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}
.widget {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15%;
}
.user-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
}
.charts-group { 
  display: flex;
  flex-wrap: wrap;
  height: 75%;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart--one {
  width: 100%;
}
.chart--two {
  width: 49%;
}
.chart--three {
  width: 32%;
}

